/* Styles specific to each component are organized in seperate files */
@import url(navbar.css);
@import url(search.css);
@import url(services.css);
@import url(newsfeed.css);
@import url(tickets.css);
@import url(need-help.css);

/* Google fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700,500,600,100);

body {
  font: 14px "Roboto", sans-serif;
  background-color: #f1f1f1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content {
  padding: 0 12%;
  margin: 0;
}
.card {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-top: 15px;
}
.section-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  border-bottom: 3px solid #ff8800;
  padding-bottom: 7px;
}
.notification {
  font-size: 8px;
  left: -4%;
  color: #ff8800;
}

@media only screen and (max-width: 767px) {
  .content {
    padding: 0 3%;
  }
}
